body {
    background-image: url("../img/backgr.jpg");
    background-size: cover;
    font-family: arial,helvetica,sans-serif;
    text-align: center;
}

.mainBox {
    font-size:35px;
    background-color: #8fa8bd;
    color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 30px black;
}
.resultTable {
    font-size:35px;
    background-color: #beccde;
    color: black;
    border: 5px solid #0e2d65;
    box-shadow: 5px 3px 15px black;
    margin:auto;
    padding: 5px;
    border-collapse: collapse;

}
.resultTable td {
    border: 5px solid #0e2d65;
}

.resultTable th {
    background-color: #57aabd;
    border:5px solid #0e2d65;
}

.resultTable td:last-child {
    border-right:0;
}

.resultTable tr:last-child td {
    border-bottom:0;
}

.resultTable tr:first-child td {
    border:0;
}

.resultTable th:last-child {
    border-right: 0;
}

h1 {
    box-shadow: 3px 2px 10px black;
    border-radius: 5px;
    background-color:#3b535f;
    color: white;

}

.bigButton {
    margin-top:25px;
    background-color: #4ca1af;
    border-radius: 7px;
    border:solid #4ca1af;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}

.matchsubmitbutton {
    background-color: #1a7584;
    border-radius: 5px;
    border:solid #1a7584;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-top:35px;
    margin-left:15px;
    margin-right:15px;
}

.teamNameInput {
    font-size:35px;
    width: 100%;
}

.topBorderColored {
    border-top: #0e2d65 solid 5px;
}

.matchTable {
    font-size:35px;
    background-color: #beccde;
    color: black;
    border: 5px solid #0e2d65;
    box-shadow: 5px 3px 15px black;
    margin:auto;
    border-collapse: collapse;
}

.matchTable th {
    border: #0e2d65 solid 5px;
    background-color: #57aabd;
}

.matchTable td {
    border-right:5px solid #0e2d65;
}

.matchResult {
    margin: 35px 15px;
    font-size:35px;
    width: 50px;
    text-align: center;
}

.loginInput {
    font-size:35px;
    width: 50%;
}

.teamSelect {
    font-size:35px;
}






