<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Toor</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
    <div class="mainBox">
        <h1>Tournament Organizer</h1>

        <div th:if="${teamAddingIsOver} == false">
            <h3>Please add the teams who will participate in the tournament!</h3>
            <form method="POST">
                <label>Teams name:<input class="teamNameInput" type="text" name="name"><br/></input></label>
                <input class="bigButton" type="submit" name="add" value="Add"/>
                <input class="bigButton" type="submit" name="done" value="Done"/>
            </form>
        </div>

        <div th:unless="${#lists.isEmpty(teams)}">
            <h2>Standings</h2>
                <table class="resultTable">
                    <tr>
                        <th>Team</th>
                        <th>GS</th>
                        <th>GC</th>
                        <th>MW</th>
                        <th>GD</th>
                        <th>P</th>
                    </tr>
                    <tr th:each="team : ${teams}">
                        <td th:text="${team.name}">name</td>
                        <td th:text="${team.goalsScored}">goalsScored</td>
                        <td th:text="${team.goalsConceded}">goalsConceded</td>
                        <td th:text="${team.numberOfVictories}">numberOfVictories</td>
                        <td th:text="${team.goalDifference}">numberOfVictories</td>
                        <td th:text="${team.points}">points</td>
                    </tr>
                </table>
        </div>



        <div th:if="${teamAddingIsOver} == true">
            <h2>Rounds:</h2>
            <form method="POST">
                <table class="matchTable">
                    <tr>
                        <th>Match</th>
                        <th>Result</th>
                    </tr>
                    <tr th:each="match,iter : ${matches}" th:class="${iter.index % matchesPerRounds == 0 and iter.index != 0} ? topBorderColored : ''">
                        <td th:text="${match}">match</td>
                        <td>
                            <input class="matchResult" type="text" th:name="${'matchResultTextHome_' + iter.index}" th:value="${match.homeGoals != -1 ? match.homeGoals : ''}" /> -
                            <input class="matchResult" type="text" th:name="${'matchResultTextVisitor_' + iter.index}" th:value="${match.visitorGoals != -1 ? match.visitorGoals : ''}"/>
                        </td>
                    </tr>
                </table>
                <input class="matchSubmitButton" type="submit" name="matchResultSubmit" value="Submit"/>
            </form>

            <form method="POST">
                <select class="teamSelect" name="team1">
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select> -
                <select class="teamSelect" name="team2">
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
                <input class="matchSubmitButton" type="submit" name="addMatch" value="Add match"/>
            </form>

            <form method="POST">
                <label>Teams name:<input class="teamNameInput" type="text" name="name"><br/></input></label>
                <input class="bigButton" type="submit" name="addTeamAfterLot" value="Add team"/>
            </form>


            <form method="POST">
                <input class="bigButton" type="submit" name="reset" value="New tournament"/>
            </form>

            <form method="POST">
                <input class="bigButton" type="submit" name="saveTournament" value="Save Tournament"/>
            </form>

        </div>

        <form th:action="@{/logout}" method="post">
            <input class="bigButton" type="submit" value="Sign Out"/>
        </form>





        <!-- This little code lists all the elements of the model for testing-->

        <!--<table>
            <tr th:each="var : ${#vars}">
                <td th:text="${var.key}"></td>
                <td th:text="${var.value}"></td>
            </tr>
        </table>-->
    </div>
</body>
</html>