<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Toor</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
    <h1>Oops, that's definitely an error!</h1>
</body>
</html>