<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Toor</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>

<div class="mainBox">
    <h1>Tournament Organizer</h1>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input class="loginInput" type="text" name="username"/> </label></div>
        <div><label> Password: <input class="loginInput" type="password" name="password"/> </label></div>
        <div><input class="bigButton" type="submit" value="Sign In"/></div>
    </form>

</div>

</body>
</html>