<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Toor</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>

<div class="mainBox">

    <h1>Tournament Organizer</h1>

    <div th:if="${#lists.isEmpty(teams)}">
        <h2>There is no tournament in progress!</h2>
    </div>

    <div th:unless="${#lists.isEmpty(teams)}">
        <h2>Standings</h2>
        <table class="resultTable">
            <tr>
                <th>Team</th>
                <th>GS</th>
                <th>GC</th>
                <th>MW</th>
                <th>GD</th>
                <th>P</th>
            </tr>
            <tr th:each="team : ${teams}">
                <td th:text="${team.name}">name</td>
                <td th:text="${team.goalsScored}">goalsScored</td>
                <td th:text="${team.goalsConceded}">goalsConceded</td>
                <td th:text="${team.numberOfVictories}">numberOfVictories</td>
                <td th:text="${team.goalDifference}">numberOfVictories</td>
                <td th:text="${team.points}">points</td>
            </tr>
        </table>
    </div>



    <div th:unless="${#lists.isEmpty(matches)}">
        <h2>Rounds:</h2>

        <table class="matchTable">
            <tr>
                <th>Match</th>
                <th>Result</th>
            </tr>
            <tr th:each="match,iter : ${matches}" th:class="${iter.index % matchesPerRounds == 0 and iter.index != 0} ? topBorderColored : ''">
                <td th:text="${match}">match</td>
                <td>
                    <span class="matchResult" type="text" th:text="${match.homeGoals != -1 ? match.homeGoals : ''}" /><span th:if="${match.homeGoals != -1}"> - </span>
                    <span class="matchResult" type="text" th:text="${match.visitorGoals != -1 ? match.visitorGoals : ''}"/>
                </td>
            </tr>
        </table>
    </div>

    <div th:unless="${#lists.isEmpty(previousTournaments)}">
        <h2>Previous Tournaments</h2>
        <form method="POST">
            <select class="teamSelect" name="tournament">
                <option th:each="previousTournament : ${previousTournaments}" th:value="${previousTournament.id}" th:text="${previousTournament.tournamentDate}"></option>
            </select>
            <input class="bigButton" type="submit" name="selectTournament" value="Select Tournament"/>
        </form>
    </div>


    <div th:unless="${#lists.isEmpty(prevTeams)}">
        <h2>Standings</h2>
        <table class="resultTable">
            <tr>
                <th>Team</th>
                <th>GS</th>
                <th>GC</th>
                <th>MW</th>
                <th>GD</th>
                <th>P</th>
            </tr>
            <tr th:each="team : ${prevTeams}">
                <td th:text="${team.name}">name</td>
                <td th:text="${team.goalsScored}">goalsScored</td>
                <td th:text="${team.goalsConceded}">goalsConceded</td>
                <td th:text="${team.numberOfVictories}">numberOfVictories</td>
                <td th:text="${team.goalDifference}">numberOfVictories</td>
                <td th:text="${team.points}">points</td>
            </tr>
        </table>
    </div>





</div>
</body>
</html>